.root {
  align-items  : center;
  background   : hsl(0deg 0% 33%);
  border-radius: 5px;
  display      : inherit;
  height       : calc(100vh - 10px);
  justify-items: center;
  outline      : 1px solid #0000005e;
  transition   : height 0.3s cubic-bezier(0.7, 0, 0.84, 0);
  perspective  : 400px;
  perspective-origin: center 40%;
}
.root_mini {
  composes    : root;
  height      : 200px;
  transition  : height 0.3s cubic-bezier(0.7, 0, 0.84, 0),
}
.input {
  background    : hsl(0deg 0% 20%);
  border-radius : 3px;
  border        : 2px solid hsl(0deg 0% 0%);
  box-shadow    : 0 0 2px #0008, inset 0 0 2px #0008;
  color         : hsl(0deg 0% 50%);
  font-size     : 25px;
  font-weight   : 200;
  height        : 2em;
  max-width     : 500px;
  outline       : none;
  text-align    : center;
  text-shadow   : 0 0 2px #ffffff40;
  width         : 100%;
  transition    : background 100ms;
}
.input::placeholder {
  color      : hsl(0deg 0% 50%);
  text-shadow: none;
}
.input:focus::placeholder {
  opacity: 0;
}
.input:focus {
  background  : hsl(0deg 0% 50%);
  color       : hsl(0deg 0% 10%);
  text-shadow : 0 0 2px #0000008c;
  transition  : background 100ms;
}
.input::selection {
  background: #999;
  color     : #000;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  text-shadow: 0 10px 30px #0004, 0 0 5px #0008;
}
.box_init {
  composes : box;
  text-shadow: 0 10px 30px #0004, 0 0 5px #0008;
  transform: rotateX(50deg) translateY(360px);
}
.box_done {
  composes : box;
  text-shadow: 0 10px 30px #0004, 0 0 5px #0008;
  transform: rotateX(50deg) translateY(-50px);
  transition: transform 5s;
}
.box_mini {
  composes : box;
  text-shadow: 0 10px 30px #0004, 0 0 5px #0008;
  transform: rotateX(0) translateY(0);
  transition: transform 1s;
}
.logo {
  font-size: 5em;
  line-height: 0.7em;
  text-align: center;
  font-family: StarWars;
  margin-bottom: 20px;
}
.smaller {
  line-height: 0.1em;
  color: #4e7959;
  font-size: 0.75em;
}