.root {
  align-items: center;
  border-radius: 5px;
  background: hsl(0deg 0% 33%);
  display: inherit;
  height: calc(100vh - 10px);
  justify-items: center;
  transition: height 0.3s cubic-bezier(0.7, 0, 0.84, 0);
  z-index: 1;
}

.mini {
  height: 62px;
  transition: height 0.3s cubic-bezier(0.7, 0, 0.84, 0);
}

.input {
  background: hsl(0deg 0% 20%);
  border-radius: 3px;
  border: 2px solid hsl(0deg 0% 0%);
  color: hsl(0deg 0% 50%);
  height: 3em;
  text-shadow: 0 0 2px #ffffff40;
  outline: none;
  text-align: center;
  box-shadow: 0 0 2px #0008, inset 0 0 2px #0008;
  max-width: 400px;
  width: 50%;
}

.input::placeholder {
  color: hsl(0deg 0% 50%);
  text-shadow: none;
}

.input:focus::placeholder {
  opacity: 0;
}

.input:focus {
  background: hsl(0deg 0% 42%);
  color: hsl(0deg 0% 10%);
  text-shadow: 0 0 2px #0000008c;
}

.input::selection {
  background: #818181;
  color: #000;
}