.root {
  background: #222;
  align-items: center;
  display: inherit;
  height: 200px;
  justify-items: center;
  border-radius: 5px;
}

.root .expanded {
  height: 100vh;
}

.stack {
  background: repeating-linear-gradient(
    0,
    #555 0%,
    #000 50%,
    #fff 5%,
    #444
  );
  display: inherit;
  width: 50%;
  padding: 1px;
  border-radius: 5px;
}

.input {
  background: #0f0f0f;
  border: 1px solid #000000;
  color: #9d9d9d;
  border-radius: 5px;
  height: 3em;
  outline: none;
  text-align: center;
  margin: 1px;
  box-shadow: inset 0 5px 10px #000;
}

.input::selection {
  background: #000;
  color:white;
}

.input::placeholder {
  color: rgb(100, 100, 100);
}

.input:focus::placeholder {
  color: #0000;
}