.root {
  align-items: center;
  display: inherit;
  height: 200px;
  justify-items: center;
}

.input {
	border: 1px solid #393939;
	color: #9d9d9d;
	border-radius: 3px;
	background: #1c1b1b;
	height: 3em;
	outline: none;
	text-align: center;
	width: 50%;
	box-shadow: inset 0 0 15px #000;
	box-shadow: 0 10px 70px -10px #000000f7;
}

.input::placeholder {
  color: rgb(100, 100, 100);
}