* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: #000;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#__next {
  display: grid;
  font-family: 'Segoe UI';
  grid-auto-rows: min-content auto;
  grid-gap: 5px;
  height: 100vh;
  padding: 5px;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}