@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'StarWars';
  src: url('../public/fonts/starjedi.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  margin         : 0;
  padding        : 0;
  scrollbar-width: thin;
  font-family: inherit;
  font-size  : inherit;
  font-weight: inherit;
  line-height: inherit;
}
body {
  box-sizing: border-box;
  overflow  : hidden;
  font-family   : 'Oswald';
  font-size     : 15px;
  font-weight   : 400;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#__next {
  background    : #333333;
  display       : grid;
  grid-auto-rows: min-content auto;
  grid-gap      : 5px;
  height        : 100vh;
  padding       : 5px;
}